<%#
# BelongsTo Form Partial

This partial renders an input element for belongs_to relationships.
By default, the input is a collection select box
that displays all possible records to associate with.

## Local variables:

- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of [Administrate::Field::BelongsTo][1].
  Contains helper methods for displaying a collection select box.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Field/BelongsTo
%>

<%= f.label field.permitted_attribute, class: "col-lg-2 control-label"  %>
<div class="col-lg-5">
  <%= f.select(field.permitted_attribute, [], {}, { :class => "form-control selectpicker" }) do %>
    <%= options_for_select(field.associated_resource_options, field.selected_option) %>
  <% end %>
  <% if field.respond_to? :required? and field.required? %>
    <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true" style="color: red; position: absolute; right: 20px; top: 0; line-height: 34px;"></span>
  <% end %>
</div>

<% add_url = url_for([:new, namespace, field.associated_class_name.downcase]) rescue nil %>
<% if add_url.present? %>
  <div class="col-lg-1">
    <!-- add button -->
    <button type="button" class="add-model-btn btn" data-add-model-url="<%= add_url %>?sidebar=false&redirect_url=<%= request.original_url %>">
      Add
    </button>
  </div>
<% end %>
