<%#
# BelongsTo Form Partial

This partial renders an input element for belongs_to relationships.
By default, the input is a collection select box
that displays all possible records to associate with.

## Local variables:

- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of [Administrate::Field::BelongsTo][1].
  Contains helper methods for displaying a collection select box.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Field/BelongsTo
%>

<%= f.label field.permitted_attribute, class: "col-lg-2 control-label"  %>
<div class="col-lg-5">
  <%= f.select(field.permitted_attribute, [], {}, { :class => "form-control" }) do %>
    <%= options_for_select(field.associated_resource_options, field.selected_option) %>
  <% end %>
</div>
<div class="col-lg-1">
  <!-- add button -->
  <button type="button" class="add-model-btn btn" data-add-model-url="<%= url_for([:new, namespace, field.name])  %>?sidebar=false&redirect_url=<%= request.original_url %>">
    Add
  </button>
</div>
