<%#
# Application Layout

This view template is used as the layout
for every page that Administrate generates.

By default, it renders:
- Sidebar for navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and Javascripts
%>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= content_for(:title) %> | <%= Rails.application.class.parent_name.titlecase %></title>
  <%= csrf_meta_tags %>

  <!-- custom style -->
  <%= render "stylesheet" %>

  <% if defined?(@additional_header) %>
    <%= @additional_header.html_safe %>
  <% end %>

</head>

<body>

<% if params[:sidebar].present? and params[:sidebar] == 'false' %>
  <div>
<% else %>
  <div id="wrapper" class="wrapper">
<% end %>

  <!-- TODO Jorge -->
  <% if false %>
    <%= render 'layouts/header' %>
  <% end %>

  <% if params[:sidebar].present? and params[:sidebar] == 'false' %>
  <% else %>
    <div id="sidebar-wrapper">
      <%= render "sidebar" -%>
    </div>
    <div id="page-content-wrapper">
  <% end %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <%= render "flashes" -%>
          <%= content_for(:search) %>
          <%= yield %>
        </div>
      </div>
    </div>

  <% if params[:sidebar].present? and params[:sidebar] == 'false' %>
  <% else %>
    </div>
  <% end %>

</div>

<!-- Add Modal -->
<div class="modal fade" id="add-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<%= render "javascript" %>

<% if defined?(@additional_script) %>
  <%= @additional_script.html_safe %>
<% end %>

</body>
</html>
